:root {
    --cor-primaria: rgb(255, 255, 255);
    --cor-secundaria: rgb(17, 0, 255);
 }


body{
    font-family: cursive;
    background-color: var(--cor-primaria);
}

.título{
    position: relative;
    text-align: center;
    color: var(--cor-secundaria);
}

@media(max-widht:980px)